.content-body.date_of_birth {
  .form-date {
    .form-group {
      padding-bottom: 1em;
      margin-right: 2em;
    }
    .form-group:nth-last-child(1) {
      width: 100px;
      label {
        text-align: center;
      }
    }
  }
}