$positive_result_colour: $govuk-blue;
$negative_result_colour: $red;
.feedback {
  .positive {
    @extend .panel;
    @extend .panel-border-wide;
    border-color: $positive_result_colour;
    color: $positive_result_colour;
  }
  .negative {
    @extend .panel;
    @extend .panel-border-wide;
    border-color: $negative_result_colour;
    color: $negative_result_colour;
  }
  h2 {
    @include heading-36;
  }
}