details.details-polyfill[open] {
  & > :not(summary) {
    display: inherit !important;
  }
  summary {
    &:before {
      content: "\25BC"; display: inline-block; font-size: .8em; width: 1.5em;
    }
  }
}
details.details-polyfill:not([open]) {
  & > :not(summary) {
    display: none !important;
  }
  summary {
    &:before {
      content: "\25BA"; display: inline-block; font-size: .8em; width: 1.5em;
    }
  }
}
