details[open] {
  :not(summary) {
    display: block !important;
  }
  &.details-polyfill {
    summary {
      &:before {
        content: "\25BC"; display: inline-block; font-size: .8em; width: 1.5em;
      }
    }
  }
}
details:not([open]) {
  :not(summary) {
    display: none !important;
  }
  &.details-polyfill {
    summary {
      &:before {
        content: "\25BA"; display: inline-block; font-size: .8em; width: 1.5em;
      }
    }
  }
}
